<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../public/assets/css/styles.css">
  <title>Register</title>
</head>
<body>
  <div class="formContainer">
    <form action="../controllers/register.php" method="POST" id="signupForm">
      <h1 style="text-align: center;">Register</h1>
      <label>Username: </label>
      <input type="text" placeholder="Enter Username" name="username" required>
      <label>Email: </label>
      <input type="email" placeholder="Enter email" name="email" required>
      <label>Password:</label>
      <input type="password" placeholder="Enter password" name="password" required>
      <button>Register</button>
      <span>Already have account? <a href="login.html">Login</a></span>
    </form>
  </div>
</body>
</html>